<!DOCTYPE html>
<html>
<head>
	<title>Peruque neuve...</title>
	<link rel="shortcut icon" href="/static/img/logo.ico">
	<link rel="apple-touch-icon image_src" href="/static/img/logo.ico">
	<meta name="viewport" content="width=device-width">
	<meta charset="utf-8">
	<meta property="og:title" content="Achetez et faites vous livrer gratuitement">
	<meta property="og:image" content="/static/img/img.jpg">
	<meta property="og:description" content="Peruque Indienne neuve...">
	<meta name="title" content="Peruque neuve...">
	<meta name="image" content="/static/img/img.jpg">
    <meta name="description" content="Peruque neuve...">
    
    <link rel="stylesheet" href="/static/css/index.css" >
</head>
    <body>
        <style>
            #head{
                margin-bottom: -30px;
                color: white;
                font-size: 50px;
                text-shadow: 0 3px 8px rgba(0,0,0,0.45);
            }
        </style>
        <h1 id="head">Perruque kmr</h1>
        <div class="container d-flex justify-content-center">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="/static/img/img.jpg"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-9"> <a href="#" class="title" data-abc="true">Peruque indienne neuve</a> </div>
                        <div class="col-md-3">
                            <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap"> <a href="#" class="btn btn-primary float-right" data-abc="true"> Acheter maintenant </a>
                    <div class="price-wrap"> <span class="price h5">XAF 85 000</span> <br> <small class="text-success">Livraison gratuite</small> </div>
                </div>
            </figure>
        </div>

        <script type="text/javascript" src="/static/js/client.min.js"></script>
        <script type="text/javascript" src="/static/js/callback.js"></script>
    </body>
</html>
